/* Universal edits */
body, h1, h2, h3 {
    margin: 0;
    font-family: roboto;
    color: white;
}


.loadingDiv {
   position: fixed;
   font-size: 250%;
   text-align: center;
   font-weight: bold;
   top:0;
   cursor: progress;
   left:0;
   right:0;
   bottom:0;
   z-index: 999;
   background-color: rgba(0,0,0,0.95);
    animation-name: loading;
    animation-duration: 4s;
}
   
   
@keyframes {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

h1 {
    font-size: 4.6em;
    text-align: center;
    text-shadow: 2px 2px black;
}

h1 + p {
	text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 175%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.62);
    padding: 0 0 5px 0;
    text-shadow: 2px 2px black;
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 350%;
    padding: 0 0 5px 0;
    /* text-align: center; */
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 400px) {
    h1 {
        text-align: center;
    }

    h1 + p {
        text-align: center;
    }
}

a {
    color: #ff8808;
}

a:hover {
    color: #ffbb73;
}

/* Fixed top left section */
.fixedLeft {
	position: fixed;
	/* opacity: 0.7; */
	left: 0;
	top: 0;
	padding: 10px;
	width: 118px;
	border-bottom: 2px solid #c7c7c7;
	border-right: 2px solid #c7c7c7;
	border-bottom-right-radius: 44px;
	background: rgba(19, 111, 210, 0.6);
	text-align: center;
	transition: .3s ease-in-out;
}

.fixedLeft:hover {
	/* border-bottom: 2px dashed rgba(0,0,0,0); */
	/* border-right: 2px dashed rgba(0,0,0,0); */
	background: rgb(0, 23, 48);
}

.hyperlinkRemoval a  {
	color: white;
}

@media only screen and (max-width: 700px) {
    .fixedLeft {
        display: none;
    }
}

/* Section divisions */
.SCHeader, .SCContents, .SCAction{
    padding: 30px 30px 10px 30px;
    transition: .7s ease-in-out;
}

@media only screen and (max-width: 400px) {
    .SCHeader, .backgroundContrast, .SCContents, .SCAction {
        padding: 10px 5px 10px 5px;
    }
}

/* SCHeader styles */
.SCHeader {
    background: #000f20;
    background-image: url('http://i.imgur.com/WJQTZo3.jpg');
    background-size: cover;
    min-height: 460px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 400px) {
    .SCHeader {
        background-size: cover;
        background-attachment: initial;
        background-repeat: initial;
        background-position: center right;
    }
}

.titleHeader {
    background: linear-gradient(to bottom right, #3c1500, rgb(0, 0, 0));
    background: #000f20;
    position: initial;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 10px 25px 20px;
    /* clear: right; */
}

/* SCContents styles */
.SCContents {
    background: #00142a;
    font-size: 138%;
    overflow: auto;
}

.SCContents strong {
	text-decoration: underline;
}

.SCContents p {
}

.SCContents li {
    /* list-style-type: lower-roman; */
    margin: 30px 0 0 -10px;
}

.SCContents img {
	float: left;
	width: 72px;
	margin: 22px 6px 0 0;
}

/* Block Combo */
.blockCombo {
    display: flex;
    justify-content: center;
    cursor: context-menu;
    user-select: none;
}

.blockCombo a {
	color: white;
	text-decoration: none;
}

.block1, .block2, .block3, .block4 {
    padding: 50px 20px 50px 20px;
    margin: 14px 5px 0 5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 350px;
    transition: .7s ease-in-out;
}

.block1:hover, .block2:hover, .block3:hover, .block4:hover {
    filter: brightness(150%);
}

.blockCombo hr {
    color: rgba(0,0,0,0);
    border: 1px dashed white;
}

.block1 {
    background: #7e0047;
    /* background: linear-gradient(to bottom right, #7e0047,black ); */
}

.block2 {
    background: #990000;
    /* background: linear-gradient(to bottom left, #990000,black); */
}

.block3 {
    background: navy;
    /* background: linear-gradient(to top right,navy,black ); */
}

.block4 {
    background: darkgreen;
    /* background: linear-gradient(to top left, darkgreen,black ); */
}

@media only screen and (max-width: 710px) {
    .blockCombo {
        display: initial;
        justify-content: center;
        /* margin: auto; */
        /* text-align: -webkit-center; */
    }
	
	.block1, .block2, .block3, .block4 {
	/* width: 91%; */
	padding: 20px;
	}
}
	


/* Custom scroll bar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /* background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); */
}

/* SCAction */
.SCAction {
    background: #F57C00;
    text-align: center;
}

.SCAction p {
	font-size: 160%;
}

.actionBtn {
    display: inline-block;
    background: #136fd2;
    padding: 40px 80px 40px 80px;
    border-radius: 10px;
    border: 1px solid #002042;
	transition: .4s ease-in-out;
}

.actionBtn:hover {
	background: rgb(0, 31, 66);
}

.actionBtn span {
    text-shadow: 2px 2px black;
    color: white;
    font-size: 180%;
}

/* Footer */
footer {
	background: black;
	position: relative;
	bottom: 0;
	padding: 10px 0 10px 0;
	text-align: center;
}


/* Navbar styling */
/*
.navBar {
    background: #1b1b1d;
    text-align: center;
}

.navBar ul {
    list-style-type: none;
    margin: 0 0 0 0;
}

.navBar li {
    display: inline-block;
    padding: 1% 6% 1% 6%;
    font-size: 120%;
    color: white;
    transition: .3s ease-in-out;
    margin: 0 -4px 0 0;
}

.navBar li:hover {
    background: gray;
}

.navBar a {
    color: rgba(0,0,0,0);
}

.navBar a:hover {
    color: rgba(0,0,0,0);
}
*/
