/* Universal divisions */
body, h1, h2, h3 {
	margin: 0;
	font-family: calibri;
	color: white;
}

/* Section divisions */
.SCHeader, .SCContents {
	padding: 10px 30px 10px 90px;
}

@media only screen and (max-width: 400px) {
	.SCHeader, .SCContents {
		padding: 10px 5px 10px 5px;
	}
}

.SCHeader {
	background: #136fd2;
}

.SCContents {
	background: #d43b03;
}

